body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background: url('bg1.jpg') no-repeat center center fixed;
    min-height: 100vh;
}

/* Remove default link styles in home,premium,contact */
a {
    text-decoration: none;
}

/* Button Styling */
button {
    background-color: #aeba41;
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;   /*  button's curve */
    transition: background-color 0.3s ease;   /*color change slowly*/
}
button:hover {
    background-color: #1f082d;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #10002b;
    color: white;
    padding: 12px 30px;
}

.header .logo {
    font-size: 2.8em;
    font-weight: bold;
    font-family:cursive;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    padding: 8px 12px;
}

.nav-links a.active {
    background-color: #aeba41;
    border-radius: 5px;
}

/* Main Content*/
.hero {
    text-align: center;
    background-color: rgba(60, 9, 108, 0.5);
    padding: 45px;
    backdrop-filter: blur(10px); 
}

/* Features Container to Center Content */
.features-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    flex-grow: 1;            /* Allow container to grow and fill space */
    min-height: calc(100vh - 90px); /* Adjust for header height */
}

/* Features Section Styling */
.features {
    width: 450px;
    height: auto;
    background: rgb(44, 6, 69);
    color: #ffffff;
    border: 2px solid rgba(50, 6, 86, 0.5);
    margin-top: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(40px);
    padding: 20px;
    text-align: center;
}

/* Heading Styles for Features */
.features h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #aeba41;
}

/* Features List Styling */
.features ul {
    list-style: none;   /*as use none ,can't show points*/
    padding: 0;
    margin: 0 0 20px 0;
    align-items: center;
}

.features ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Pricing Card Styling */
.pricing-card {
    margin: 10px 0;
    padding: 15px;
    border: 1px solid rgba(88, 61, 61, 0.3);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.16);

}

.pricing-card h3 {
    margin: 0 0 10px 0;
    color: #aeba41;
}

.pricing-card p {
    margin: 0 0 10px 0;
    font-size: 1.1em;
    color: #ffffff;
}
.pricing-card:hover{
    background-color: rgb(104, 11, 153);
}
/* Footer */
.footer {
    text-align: center;
    color: white;
    padding: 10px 0;
}